<template>
  <div class="patient-status-contain">
    <AddPatient v-if="$store.state.mainView === 'AddPatients'" />
    <ManagePatients v-if="$store.state.mainView === 'ManagePatients'" />
    
  </div>
</template>

<script>
import AddPatient from './PatientStatusView/AddPatient'
import ManagePatients from './PatientStatusView/ManagePatients'

export default {
  name: 'PatientStatus',
  components: {
    AddPatient,
    ManagePatients
  }
}
</script>

<style lang="scss" scoped>
.patient-status-contain {
  border: 1px solid blue;
  background-color: var(--white);
  padding: 15px;
}

</style>