<template>
  <div class="patient-nav-contain">
    <div class="patient-nav-wrap">
      <div class="nav-top">
        <div class="patients mb-20">
          <h3 class="mb-10">Patients</h3>
          <div class="nav-options">
            <ul>
              <li
                @click="navClick('ManagePatients')"
                :class="{ 'active': $store.state.mainView === 'ManagePatients' }"
              >Manage Patients</li>
              <li
                @click="navClick('AddPatients')"
                :class="{ 'active': $store.state.mainView === 'AddPatients' }"
              >Add Patient</li>
            </ul>
          </div>
        </div>
        <div class="tmnt-tools mb-20">
          <h3 class="mb-10">Treatment Tools</h3>
          <div class="nav-options">
            <ul>
              <li>Resources</li>
              <li>Treatment Plans</li>
              <li>Notification Settings</li>
            </ul>
          </div>
        </div>
        <div class="clinic-pref mb-20">
          <h3 class="mb-10">Clinic Preferences</h3>
          <div class="nav-options">
            <ul>
              <li>Documents</li>
              <li>Educational Materials</li>
              <li>Clinic Statistics</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="nav-bottom">
        <div class="user-image">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" />
          </svg>
        </div>
        <div class="user-name-wrap">
          <p>User Name Here</p>
          <router-link to="/" class="highlight">Log Out</router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PatientNav',
  methods: {
    navClick(view) {
      this.$store.commit('changeView', view);
    },
  }
}
</script>

<style lang="scss" scoped>
.patient-nav-contain {
  border: 1px solid red;
  .patient-nav-wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0px;

    .nav-top {
      .nav-options {
        ul {
          padding: 0px;
          list-style: none;

          li {
            padding: 10px 25px;
            width: 100%;
            color: var(--purple);
            background-color: var(--white);
            border: 1px solid var(--purple);
            border-radius: 3px;
            transition: all 0.3s ease-in-out;
            font-weight: 500;
            cursor: pointer;

            &:hover {
              background-color: var(--purple);
              color: var(--white);
            }
          }
          .active {
            background-color: var(--purple);
            color: var(--white);
          }
        }
      }
      h3 {
        color: var(--gray);
        text-align: left;
        margin-left: 15px;
      }
    }
    .nav-bottom {
      display: flex;
      align-items: center;
      padding: 15px;
      .user-image {
        width: 50px;
        padding: 5px;
        margin-right: 8px;
        border-radius: 50%;
        background-color: var(--purple);
        cursor: pointer;

        svg {
          width: 30px;
          color: var(--white);
          opacity: 0.5;
        }
      }
      .user-name-wrap {
        text-align: left;
      }
    }
  }
}
</style>