<template>
  <div class="add-patient-contain">
    <div class="add-patient-wrap">
      <h2>Add New Patient</h2>

      <div class="form-wrap">
        <div class="general-input">
          <input type="text" placeholder="Name">
          <input type="text" placeholder="Email">
          <input type="text" placeholder="Date of Birth">
          <input type="text" placeholder="Phone Number">
          <input type="text" placeholder="Zip Code">
        </div>
        <div class="dynamic-search">
          <input type="text" class="search-condition" placeholder="Type to Search">
          <div class="condition-list"></div>

          <button class="add-button" @click="addCondition()">Add Another Condition +</button>
        </div>
        <Button buttonMessage="Save and Add Medications" />
      </div>
    </div>
  </div>
</template>

<script>
import Button from '../../Button'

export default {
  name: 'AddPatients',
  components: {
    Button
  },
  data() {
    return {
      conditions: ''
    }
  },
  methods: {
    addCondition() {
      const input = document.querySelector('.search-condition');
      const list = document.querySelector('.condition-list');

      list.innerHTML = `<p>${input.value}</p>`;
    }
  }
}
</script>

<style lang="scss" scoped>
.add-patient-contain {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .add-patient-wrap {
    width: 100%;
    max-width: 400px;
    padding: 15px;

    h2 {
      margin-bottom: 40px;
    }

    .form-wrap {
      .general-input {
        display: flex;
        flex-direction: column;
      }
      input {
        padding: 10px 5px;
        margin-bottom: 10px;

        &:focus {
          outline-color: var(--purple);
        }
      }
      .dynamic-search {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 15px 0px 25px;

        .condition-list {
          margin-bottom: 15px;
        }

        button {
          color: var(--purple);
          background-color: rgba(0,0,0,0);
          border: none;
          font-weight: 600;
          cursor: pointer;

          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}
</style>