<template>
  <div class="manage-patient-contain">
    <div class="manage-patient-wrap">
      <div class="patient-status mb-20">
        <h3>Patient Status</h3>
        <div class="status-type">
          <div class="left">
            <div class="green-card"></div>
            <div class="yellow-card"></div>
            <div class="red-card"></div>
          </div>
          <div class="right">
            <div class="green-zone"></div>
            <div class="yellow-zone"></div>
            <div class="red-zone"></div>
          </div>
        </div>
      </div>
      <div class="check-in mb-20">
        <h3>Today's Check Ins</h3>
        <div class="check-card-wrap">
          <div class="check-card"></div>
          <div class="check-card"></div>
          <div class="check-card"></div>
          <div class="check-card"></div>
          <div class="check-card"></div>
          <div class="check-card"></div>
          <div class="check-card"></div>
        </div>
      </div>
      <div class="patient-list">
        <h3>All Patients</h3>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ManagePatients'
}
</script>

<style lang="scss" scoped>
.manage-patient-contain {
  width: 100%;
  .manage-patient-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .patient-status {
      width: 100%;
      border: 1px solid #e22525;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .status-type {
        width: 100%;
        display: flex;
        flex-direction: column;

        .left {
          .green-card {
            width: 150px;
            height: 50px;
            background-color: #28ca00;
          }
          .yellow-card {
            width: 150px;
            height: 50px;
            background-color: #ebdd20;
          }
          .red-card {
            width: 150px;
            height: 50px;
            background-color: #db3f23;
          }
        }
      }
    }
    .check-in {
      width: 100%;
      border: 1px solid #f3ef19;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .check-card-wrap {
        width: 100%;
        max-width: 900px;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-gap: 10px;
        overflow: scroll;

        .check-card {
          width: 200px;
          height: 200px;
          border: 1px solid var(--gray);
        }
      }
    }
    .patient-list {
      width: 100%;
      border: 1px solid #24ff80;
      display: flex;
      align-items: flex-start;
    }
  }
}
</style>