<template>
  <div class="patient-view-contain">
    <div class="patient-view-wrap">
      <div class="top">
        <SearchBar />
      </div>
      <div class="bottom">
        <PatientNav />
        <PatientStatus />
      </div>
    </div>
  </div>
</template>

<script>
import SearchBar from '../components/SearchBar'
import PatientNav from '../components/Patients/PatientNav'
import PatientStatus from '../components/Patients/PatientStatus'

export default {
  name: 'Patient',
  components: {
    SearchBar,
    PatientNav,
    PatientStatus,
  }
}
</script>

<style lang="scss" scoped>
.patient-view-contain {
  width: 100%;
  min-height: 100vh;
  display: flex;
  background-color: #c9c9c9;

  .patient-view-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;

    .bottom {
      height: 100%;
      display: grid;
      grid-template-columns: 1fr 4fr;
      grid-gap: 20px;
    }
  }
}
</style>
