<template>
  <div class="button-wrap">
    <router-link to="/patient">{{ buttonMessage }}</router-link>
  </div>
</template>

<script>
export default {
  name: 'Button',
  props: {
    buttonMessage: String,
  }
}
</script>

<style lang="scss" scoped>
.button-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px 0px;

  a {
    min-width: 100%;
    padding: 10px 25px;
    background-color: var(--purple);
    color: var(--white);
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1rem;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: var(--hov-purp);
      box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    }
  }
}

</style>