<template>
  <div class="log-in-contain">
    <div class="log-in-wrap">

      <div class="logo-wrap">
        <img alt="Vue logo" src="../assets/logo.png">
        <h3>Logo Section</h3>
      </div>

      <div class="welcome-wrap">
        <h3>Welcome to the Wellinks Portal</h3>
      </div>

      <div class="log-in">
        <div class="input-wrap">
          <input type="text" placeholder="Email">
          <input type="password" placeholder="Password">
        </div>

        <Button buttonMessage="Log In" />

        <a href="#" class="highlight">Forgot Password</a>
      </div>
    </div>
    <div class="powered-wrap">
      <h3>Powered by Wellinks</h3>
      <img alt="Vue logo" src="../assets/logo.png">
    </div>
  </div>
</template>

<script>
import Button from './Button'

export default {
  name: 'HelloWorld',
  components: {
    Button,
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.log-in-contain {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid rgb(255, 0, 221);
  padding: 15px;

  .log-in-wrap {
    border: 2px solid rgb(0, 68, 255);
    padding: 15px;
    align-self: center;
    margin-top: 75px;

    .logo-wrap {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;

      img {
        width: 75px;
      }
    }

    .welcome-wrap {
      margin-bottom: 20px;
    }

    .log-in {
      padding: 10px 15px;

      .input-wrap {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;

        input {
          padding: 10px 5px;
          margin: 10px 0px;
        }
      }
    }
  }

  .powered-wrap {
    border: 2px solid rgb(0, 68, 255);
    align-self: flex-end;
    display: flex;
    align-items: center;

    img {
      width: 75px;
    }
  }
}

</style>
