<template>
  <div class="search-contain">
    <div class="search-wrap">
      <div class="ico-wrap">
        <a href="">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
          </svg>
        </a>
      </div>

      <div class="search-bar">
        <input type="text" placeholder="Search for a Patient">
      </div>

      <div class="ico-wrap">
        <a href="">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Search',
}
</script>

<style lang="scss" scoped>
.search-contain {
  min-width: 100%;
  padding: 10px;
  border: 2px solid #2a2dfc;

  .search-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .ico-wrap {
      width: 25px;
      svg {
        color: var(--gray);
      }
    }
    .search-bar {
      width: 100%;
      padding: 0px 25px;

      input {
        width: 100%;
        padding: 10px 5px;
      }
    }
  }
}

</style>