<template>
  <router-view/>
</template>

<style lang="scss">
:root {
  --purple: #6558f4;
  --hov-purp: #584af3;
  --white: #f9fbff;
  --gray: #2e2d2d;
}

* {
  box-sizing: border-box;
  margin: 0;
}

#app {
  width: 100%;
  min-height: 100vh;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.highlight {
  color: var(--purple);
}

.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
</style>
